@import '~antd/dist/antd.css';
@import './assets/css/reset.css';
@import './assets/css/common.css';

.App-logo {
  display: block;
  height: 0.5rem;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
